<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts > 0,
                'list-group-item-danger': postLoveIts < 0 }"
    [ngStyle]="{ 'margin': '2.5em 0' }">

  <h2>{{ postTitle }}</h2>
  <h4>{{ postCreatedAt | date: 'EEEE d MMMM y' }}</h4>
  <p>{{ postContent }}</p>

  <button class="btn btn-success"
          (click)="onLoveIts()">Love It!</button>
  &nbsp;&nbsp;
  <button class="btn btn-danger"
          (click)="onNotLoveIts()">Don't Love It...</button>
</li>
